// FONT
$font_family              : 'Roboto', sans-serif;
$font_weight              : 400;
$line_height              : 150%;

// SCREEN SIZE — SS
$ss_laptop                : 1339px;
$ss_tablet                : 1019px;
$ss_sm_tablet             : 699px;
$ss_phone                 : 529px;

// COLORS
$color_text               : #262626;
$color_primary            : #E60D2E;
$color_gray               : #E7E7E7;
$color_pink               : #FDDFE4;
$go                       : #FDDFE4;